{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h2>Character Report</h2>

        <ul>

            {% for char in chars %}
                <li>{{ char.STR }}</li>
            {% endfor %}

        </ul>

    </div>
{% endblock %}
